.statusOnline {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: green;
  margin-left: 10px;
  margin-right: 10px;
}

.statusOffline {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: red;
  margin-left: 10px;
  margin-right: 10px;
}
.name {
  font-size: 18px;
  line-height: 1.62;
  font-weight: 18px;
  margin-left: 20px;
}

.friendListUl {
  display: flex;
  width: 320px;
  flex-direction: column;
  margin: 0 auto;
  list-style-type: none;
  padding: 0;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: rgb(164, 205, 152);
  border: 2px solid #fff;
}
.item {
  display: flex;
  margin-bottom: 30px;
  align-items: center;
  justify-content: center;
}
.name {
  margin-left: 20px;
  font-weight: 500;
}